{% extends 'base.html' %}

{% block title %}
create new item
{% endblock title %}

{% block content %}
    
    {% if user.authenticated %}
        <h3>Create new list</h3>
        <form method="post" action="/create/" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                
                <div class="input-group-prepand">
                    <button type="submit" class="btn btn-success">Create new</button>
                </div>
                {{form.name}}
            </div>
        </form>
    {% else %}
        <p>Login <a href="/login">here</a></p>
    {% endif %}
{% endblock content %}